*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html,body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* background-color: chartreuse; */
}

.content-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    background-color:forestgreen;
}
.box1 ,.box2,.box3,.box4,.box5,.box6{
    width: 200px;
    height: 150px;
    background-color: green;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}